{{ define "main" }}
<header class="h-card">
  <h1 class="p-name">
    {{ site.Title }}
  </h1>
  <p class="p-note">Indie Comic Artist, Illustrator &amp; Writer.</p>
<section>
  <h2>
    <a href="/comic" class="u-url">Comic Catalogue</a>
  </h2>
  <p>
    My Comics
  </p>
</section>
<section>
  <h2>
    Socials
  </h2>
  <ul>
    <li><a href="https://youtube.com/@rayquazaboladao" class="u-url" rel="me">Youtube</a></li>
    <li><a href="https://codeberg.org/Victor-Rafael" class="u-url" rel="me">Codeberg</a></li>
    <li><a href="https://github.com/Rafael-Dev-21" class="u-url" rel="me">Github</a></li>
    <li><a href="https://Rafael-Dev-21.github.io" class="u-url" rel="me" hreflang="pt-br">My Blog</a></li>
    <li><a href="https://rayquazaboladao.blogspot.com" class="u-url" rel="me">My Other Blog</a></li>
  </ul>
</section>

{{ end }}
