{{ define "head" }}
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="index.xml">
  <script type="application/ld+json">
    "@context": "https://schema.org",
    "@type": "ComicSeries",
    "name": "{{ .Title }}",
    "description": "{{ .Description }}",
    "author": {
      "@type": "Person",
      "name": "Rafael 04th",
      "url": "site.BaseURL"
    },
    "url": "{{ .Permalink }}"
  }
  </script>
{{ end }}
{{ define "main" }}
<section class="h-feed">
  <h1 class="p-name">{{ .Title }}</h1>
  <p class="p-summary">{{ .Description | default .Summary | plainify | markdownify | safeHTML }}</p>
  <p>By <a href="{{ site.BaseURL }}" rel="me" class="p-author h-card p-name-url">Rafael 04th</a></p>

  <ol class="comic-list" style="list-style: none; padding: 0;">
    {{ range .Pages }}
    <li class="h-entry">
      <article>
        <h2>
          <a href="{{ .RelPermalink }}" class="u-url p-name">{{ .Title }}</a>
        </h2>
        <p class="p-summary">{{ .Params.summary | default .Description | default .Summary | plainify | markdownify | safeHTML }}</p>
      </article>
    </li>
    {{ end }}
  </ol>

  <nav class="comic-nav">
    {{ if not .IsHome }}
      <a href="{{ if .Parent }}{{ .Parent.RelPermalink }}{{ else }}/{{ end }}">Go Back</a>
    {{ end }}
    {{ if ne .Section "comic" }}
      <a href="/comic">Comics Catalogue</a>
    {{ end }}
  </nav>

  <footer>
    <a href="index.xml" rel="alternate" type="application/xml+rss">Subscribe to RSS Feed</a>
    {{ partial "webmentions.html" . }}
  </footer>

</section>
{{ end }}
